@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ebe8ff;
}

.cart-button {
  position: relative;
  padding: 10px;
  width: 200px;
  height: 50px;
  border: 0;
  border-radius: 10px;
  background-color: #2b3044;
  outline: none;
  cursor: pointer;
  margin: 0 10px;
  color: #fff;
  transition: 0.3s ease-in-out;
  overflow: hidden;
   user-select: none; 
}

.cart-button:hover {
  background-color: #202431;
}
.cart-button:active {
  transform: scale(0.9);
}

.cart-button .fa-shopping-cart {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: -10%;
  font-size: 2em;
  transform: translate(-50%, -50%);
}

.cart-button span {
  position: absolute;
  z-index: 3;
  left: 50%;
  top: 50%;
  font-size: 1.2em;
  color: #fff;
  transform: translate(-50%, -50%);
}
.cart-button span.add-to-cart {
  opacity: 1;
}
.cart-button span.added {
  opacity: 0;
}

.cart-button.clicked .fa-shopping-cart {
  animation: cart 1.5s ease-in-out forwards;
}

.cart-button.clicked span.add-to-cart {
  animation: txt1 1.5s ease-in-out forwards;
}
.cart-button.clicked span.added {
  animation: txt2 1.5s ease-in-out forwards;
}
@keyframes cart {
  0% {
    left: -10%;
  }
  40%,
  60% {
    left: 50%;
  }
  100% {
    left: 110%;
  }
}

@keyframes txt1 {
  0% {
    opacity: 1;
  }
  20%,
  100% {
    opacity: 0;
  }
}
@keyframes txt2 {
  0%,
  80% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pqt-plus,
.pqt-minus {
  background: #fff;
  border: none;
  font-size: 20px;
  padding: 0 20px;
  transition: .2s;
  width: 50px;
  border-radius: 10px;
  height: 50px;
  user-select: none; 
  line-height: 50px;
}

.pqt-plus:hover,
.pqt-minus:hover {
  background: #202431;
  color: #fff;
  cursor: pointer;
}
