.container {
  width: 300px;
  padding: 10px;
  font-family: sans-serif;
  background: linear-gradient(358deg, #30e98f, #6c34dd);
  margin: 150px auto;
  text-align: center;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.342);
  border-radius: 10px;
}

input {
  outline: none;
  margin: 10px 0;
  border: none;
  padding: 6px;
  border-radius: 5px;
}
.btn {
  background: #5007e0;
  padding: 3px 8px;
  border: 2px solid #5007e0;
  color: white;
  cursor: pointer;
  font-weight: bold;
  transition: 0.1s;
  font-size: 17px;
  border-radius: 4px;
  width: 30%;
}
.btn:hover {
  background: transparent;
  color: #5007e0;
}
