body {
  display: grid;
  height: 100vh; 
  place-items: center;
  background: #243b47;
}
svg {
  width: 114px;
  height: 114px;
  margin: 1em;
}

.bg {
  fill: none;
  stroke-width: 10px;
  stroke: #1A2C34;
}

[class^="meter-"] {
  fill: none;
  stroke-width: 10px;
  stroke-linecap: round;
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
  
}

.meter-1 {
  stroke-dasharray: 360;
  stroke-dashoffset: 100;
  stroke: #00FFFF;
  animation: progress-1 1.5s ease-out;
}
.meter-2 {
  stroke: #00ff00;
  stroke-dasharray: 360;
  stroke-dashoffset: 160;
  animation: progress-2 1s ease-out;
}
.meter-3 {
  stroke: #ff33ff;
  stroke-dasharray: 360;
  stroke-dashoffset: 250;
  animation: progress-3 .75s ease-out;
}

@keyframes progress-1 {
    from {
        stroke-dashoffset: 360;
    }
    to {
        stroke-dashoffset: 100;
    }
}

@keyframes progress-2 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 160;
  }
}

@keyframes progress-3 {
  from {
    stroke-dashoffset: 360;
  }
  to {
    stroke-dashoffset: 250;
  }
}
