body{
display: grid;
background: #e8e8e8;
place-items: center;
height: 100vh;
}
button {
 color: #090909;
 padding: 0.7em 1.7em;
 font-size: 18px;
 border-radius: 0.5em;
 background: #e8e8e8;
 border: 1px solid #e8e8e8;
 transition: all .3s;
 box-shadow: 6px 6px 12px #c5c5c5,
             -6px -6px 12px #ffffff;
}

button:hover {
          box-shadow:   -6px -6px 12px #c5c5c5,
6px 6px 12px #fff;
}
