body {
  display: grid;
  place-items: center;
  font-family: sans-serif;
  font-size: 27px;
  height: 100vh;
}
a {
  color: inherit;
  text-decoration: none;
  background: linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 400ms;
}
a:hover {
  background-size: 0 3px, 100% 3px;
}
