body {
  padding: 0;
  margin: 0;
  height: 100vh;
  background: rgb(212, 249, 255);
  overflow: hidden;
}
#mouse {
  width: 3em;
  height: 3em;
  background: rgb(4, 174, 204);
  position: absolute;
  border: 5px solid #fff;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  box-shadow: rgba(100, 100, 111, 0.473) 0 7px 29px 0;
  transition: 0.1s ease-out;
}
