
body
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin:0;
    padding:0;
    height: 100vh;
    background: #fff;
}
.container{
    display: flex;
    flex-direction: row;
}
.circle{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin: 3px;
background: #000;
    animation: loader .6s ease-in-out infinite;
}
.circle:nth-child(1){
    animation-delay: .1s;
}
.circle:nth-child(2){
    animation-delay: .2s;
}
.circle:nth-child(3){
    animation-delay: .3s;
}

@keyframes loader{
    0%{
        transform: translate(0px,0px);
    }
    50%{
       transform: translate(0px,-20px);
    }
    100%{
        transform: translate(0px,0px);
    }
}
